@page
@model ChangesDeleteModel
@{
    ViewData["Title"] = "Change Deletion";
}

<div class="text-center">
    <h1 class="display-4">We are currently in work to delete this Change</h1>
    <p>In a few moments, you'll redirect back. Just wait..</a>.</p>
</div>