@page
@model BetakeysAddModel
@{
    ViewData["Title"] = "Betakey Creation";
}

<div class="text-center">
    <h1 class="display-4">We are currently in work to create a new betakey</h1>
    <p>In a few moments, you'll redirect back. Just wait..</p>
</div>
