@page
@model BetakeysDeleteModel
@{
    ViewData["Title"] = "Betakey Deletion";
}

<div class="text-center">
    <h1 class="display-4">We are currently in work to delete this Betakey</h1>
    <p>In a few moments, you'll redirect back. Just wait..</p>
</div>
