@page
@model BetausersDeleteModel
@{
    ViewData["Title"] = "Remove Betauser";
}

<div class="text-center">
    <h1 class="display-4">We are currently in work to remove this User from the Beta</h1>
    <p>In a few moments, you'll redirect back. Just wait..</p>
</div>
