@page
@model TasksAssignModel
@{
    ViewData["Title"] = "Task Assignment";
}

    <div class="text-center">
        <h1 class="display-4">We are currently in work to assign the user this Task</h1>
        <p>In a few moments, you'll redirect back. Just wait..</a>.</p>
    </div>