@page
@model TasksDoneModel
@{
    ViewData["Title"] = "Task Done";
}

    <div class="text-center">
        <h1 class="display-4">We are currently in work to swap this TAsk</h1>
        <p>In a few moments, you'll redirect back. Just wait..</a>.</p>
    </div>